.title {
    color: rgb(253, 0, 0);
    font-size: 40px;
    text-shadow: 3px 3px 1px;
}
.soutitre {
    font-size: 20px;
    color: blue
}
html {
    background-color: aquamarine
}
body {
    background-color: antiquewhite;
    border: 4px solid black;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px 20px 20px ;
    box-shadow: 3px 3px 1px
}